.navSpacer{
    padding:9em;   
}
.heading{
    justify-content: center;
    
}
.projectRight{
    margin: 2em;
    margin-right: 15%;
    background-color: #ba1700cf;
    display: block;
    box-shadow: 0em .2em .7em .3em #aaa;
    border-radius: 1em;
}
.projectLeft{
    margin: 2em;
    margin-left: 15%;
    background-color: #ba1700cf;
    display: block;
    box-shadow: 0em .2em .7em .3em #aaa;
    border-radius: 1em;
    
}
.projectCenter{
    margin: 2em;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background-color: #ba1700cf;
    display: block;
    box-shadow: 0em .2em .7em .3em #aaa;
    border-radius: 1em;
}
.dividerOverReachLeft{
    width: 83vw;
    position: relative;
    left: 60.5%;
    margin-left: -50vw;
    margin-right: -50vw;    
    justify-content: center;
    padding-bottom: .5em;
    padding-top: .5em;
    border-radius: .1em;
    background-color: #1E0400;
    box-shadow: 0em .1em 1em .1em #222;
}

.dividerOverReachRight{
    width: 83vw;
    position: relative;
    left: 60.5%;
    margin-left: -50vw;
    margin-right: -50vw;    
    justify-content: center;
    padding-bottom: .5em;
    padding-top: .5em;
    border-radius: .1em;
    background-color: #1E0400;
    box-shadow: 0em .1em 1em .1em #222;
}

/* idea for moving div beyond parent container from 
https://css-tricks.com/full-width-containers-limited-width-parents/
*/
.dividerOverReachCenter{
    width: 86vw;
    position: relative;
    left: 58.5%;
    margin-left: -50vw;
    margin-right: -50vw;    
    justify-content: center;
    padding-bottom: .5em;
    padding-top: .5em;
    border-radius: .1em;
    background-color: #1E0400;
    box-shadow: 0em .1em 1em .1em #222;
}

.projectTitleDiv{
    justify-content: center;
    border-radius: 1em 1em 0em 0em;;
    background-color: #1E0400;
}


.textBox{
    margin: 1em;
    border-radius: .1em;
    background-color: white;
    width: 100%;
}

.idCardHolder{
    margin: 1em;
    font-size: .75em;
}

.idCard{
    min-width: 45%;
    max-width: 50%;
    margin: .5%;
    border-radius: .1em;
    justify-content: center;
}

.idTag{
    color: white;
    justify-content: center;
    padding:1em;
    padding-top: 1em;
    padding-bottom:1em;
    border-radius: 1em;
    background-color: #1E0400;
    
}

.idCardImage{
    margin: .5em;
    width: 30%;
    background-color: white;
    border-radius: 1em;
}
