.navSpacer{
    padding:7em;   
}
.heading{
    justify-content: center;
    
}
.projectRight{
    margin: 2em;
    margin-right: 15%;
    background-color: #ba1700cf;
    box-shadow: 0em .2em .7em .3em #aaa;
    border-radius: 1em;
}
.projectLeft{
    margin: 2em;
    margin-left: 15%;
    background-color: #ba1700cf;
    display: block;
    box-shadow: 0em .2em .7em .3em #aaa;
    border-radius: 1em;
    
}

.textBox{
    margin: 1em;
    border-radius: .1em;
    background-color: white;
    width: 100%;
}
